<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="noindex, nofollow">
<meta name="apple-mobile-web-app-capable" content="Yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="Yes">
<meta name="theme-color" content="#4188F1">
<meta name="msapplication-navbutton-color" content="#4188F1">
<meta name="og:image','https://librewiki.net/images/6/6a/Libre_favicon.png">
<meta name="og:locale" content="ko_KR">
{@Context::addBodyClass('Liberty')}
<include target="_load_css.html" />
<include target="_header.html" />
<include target="_content.html" />
<include target="_load_js.html" />